h1 {
  color: Red;
  font-family: verdana;
  font-size: 300%;
  font-weight: bold;
}

p  {
  color: red;
  font-family: Palatino;
  font-size: 140%;
}

.myimage {
    float:center;
    width:90%;
    height:175px;
    margin:20px;
    border-radius: 20px;
}
